body {
  background: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoi UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 160px 1fr 160px;
}

.page .main-page {
  background: #fff;
}

.page .outer-div {
  background: #fff;
}

.header .upper-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header .header-img-div {
  margin: 40px 0;
}

.header .navbar {
  padding: 0;
  border-top: 1px solid #a8a7a7;
  border-bottom: 1px solid #5b5b5b;
}

.header .navbar ul {
  margin: auto;
  padding-left: 0;
  padding-right: 200px;
  display: -webkit-box;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  color: #5b5b5b;
  font-weight: 600;
}

.header .navbar ul #nav-first-item {
  margin-left: -11px;
}

.header .navbar ul a {
  color: #424141;
  text-decoration: none;
  display: block;
  padding: 5px;
  color: inherit;
  margin-top: -1px;
}

.header .navbar ul a:hover {
  background: #424141;
  color: #fff;
}

.header .lower-header {
  background: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header .lower-header ul {
  list-style: none;
}

.header .lower-header ul li::before {
  content: "\2022";
  color: #5b5b5b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 0.6em;
  margin-left: -1em;
}

.header .lower-header ul li {
  padding-bottom: 12px;
  font-size: 1.2rem;
}

.header .lower-header a {
  color: #424141;
  text-decoration: none;
  padding: 5px;
}

.header .lower-header a:hover {
  text-decoration: underline;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  margin-top: 20px;
}

.main-content .last-news-header {
  color: #7d0126;
  font-size: 1.5em;
  text-transform: capitalize;
  border-bottom: 1px solid #5b5b5b;
}

.main-content .last-news-body {
  padding-top: 20px;
  font-size: 1.2em;
  border-bottom: 1px solid #c1c1c1;
  text-align: justify;
}

.main-content .last-news-body a {
  color: #424141;
  text-decoration: none;
  padding: 5px;
  padding: 0;
}

.main-content .last-news-body a:hover {
  text-decoration: underline;
}

.main-content .last-news-body .time {
  background: #8e8e8e;
  color: #fff;
  width: 21%;
  height: 25%;
  float: left;
  margin-right: 10px;
  font-size: 0.8em;
}

.center-main {
  margin: 0 40px 0 40px;
}

.center-main .main-news-img {
  display: -webkit-box;
  display: flex;
  margin-top: 10px;
  position: relative;
  -webkit-box-pack: center;
          justify-content: center;
}

.center-main .main-news-img img {
  width: 525px;
  height: 325px;
}

.center-main .main-news-img .img-text {
  position: absolute;
  align-self: center;
  color: #fff;
  background: #5b5b5b;
  padding: 5px;
  font-size: 1.6em;
}

.center-main .main-news-img .img-text a {
  color: #424141;
  text-decoration: none;
  padding: 5px;
  color: #fff;
}

.center-main .main-news-img .img-text a:hover {
  text-decoration: underline;
}

.center-main .main-news-header {
  color: #7d0126;
  font-size: 1.5em;
  text-transform: capitalize;
  border-bottom: 1px solid #5b5b5b;
  margin-top: 10px;
}

.center-main .main-news-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 30px;
}

.center-main .main-news-body .content-block {
  background: #e7e7e7;
  width: 100%;
}

.center-main .main-news-body .content-block .text-container {
  padding: 5px;
  color: #0f0e0e;
  font-size: 1.2em;
}

.center-main .main-news-body .content-block a {
  color: #424141;
  text-decoration: none;
  padding: 5px;
}

.center-main .main-news-body .content-block a:hover {
  text-decoration: underline;
}

.center-main .main-news-body .content-block img {
  width: 100%;
}

.right-main .right-main-header {
  color: #7d0126;
  font-size: 1.5em;
  text-transform: capitalize;
  border-bottom: 1px solid #5b5b5b;
  margin-bottom: 15px;
}

.right-main .right-main-header ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
}

.right-main .right-main-header ul li::before {
  content: "\2022";
  color: #5b5b5b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 0.6em;
  margin-left: -1em;
}

.right-main .right-main-header ul li {
  padding-bottom: 12px;
  font-size: 1.2rem;
}

.right-main .right-main-header ul li::before {
  color: red;
}

.right-main .right-main-header ul li {
  padding: 0;
}

.right-main .right-main-body p {
  margin: 0;
  margin-bottom: 20px;
}

.right-main .right-main-body p a {
  color: #424141;
  text-decoration: none;
  padding: 5px;
  padding: 0;
}

.right-main .right-main-body p a:hover {
  text-decoration: underline;
}

.right-main .right-main-body .content-block {
  display: grid;
  grid-template-columns: 10% 90%;
}

.right-main .right-main-body .content-block .left-block {
  background: #e7e7e7;
  font-size: 2.1em;
  text-align: center;
  color: #757474;
}

.right-main .right-main-body .content-block .right-block {
  padding: 10px;
  background: #efefef;
}

.right-main .right-main-body .content-block .right-block a {
  color: #424141;
  text-decoration: none;
  padding: 5px;
  padding: 0;
}

.right-main .right-main-body .content-block .right-block a:hover {
  text-decoration: underline;
}

.mt-10 {
  margin-top: 10px;
}

.fs-3 {
  font-size: 1.3em;
}

.fw-3 {
  font-weight: 500;
}

